# Backend FastAPI Base URL Example
# Ubah URL di bawah sesuai IP/domain server backend Anda saat deployment
VITE_API_URL=http://localhost:8000/api/v1

# LAN POS Thermal Printer Settings (Server Direct Print)
VITE_PRINTER_IP=192.168.0.110
VITE_PRINTER_PORT=9100
